<div class="content" show-test="testOn">
	<div class="navbar navbar-onion">
		<ul class="nav navbar-nav nav-onion">
			<li>
				<a ui-sref="cp.devices.list"><span class="fa fa-arrow-left"></span>Back</a>
			</li>
			<li>
				<a ng-click="toggleEdit()"><span class="fa" ng-class="{'fa-save': editMode, 'fa-pencil': !editMode}"></span>{{editMode ? 'Save' : 'Edit'}}</a>
			</li>
			<li ng-if="!addMode">
				<a ng-click="deleteDevice()"><span class="fa fa-minus"></span>Delete</a>
			</li>
			<li ng-if="!addMode" ng-class="{active: testOn}">
				<a ng-click="toggleTest()"><span class="fa fa-flask"></span>Test</a>
			</li>
			<!-- <li ng-if="!addMode"><a ng-click="renewKey()"><span class="fa fa-key"></span>Renew Secret Key</a></li> -->
		</ul>
	</div>

	<div class="wrapper">
		<h4 ng-if="!addMode"><span class="fa fa-puzzle-piece"></span>{{device.meta.name}}</h4>
		<h4 ng-if="addMode"><span class="fa fa-plus"></span>Add New Device</h4>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-dark" id="summary">
					<div class="panel-heading">
						<h3 class="panel-title">Device Information</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<table class="table table-onion">
									<tbody>
										<tr>
											<td><a tooltip-placement="right" tooltip="Unique identifier"><strong>Device ID</strong></a></td>
											<td>{{device.id}}</td>
										</tr>
										<tr>
											<td><a tooltip-placement="right" tooltip="Secret key for authentication"><strong>Device Key</strong></a></td>
											<td> {{device.key}} <!-- <button ng-if="editMode && !addMode" class="btn btn-onion pull-right" ng-click="renewKey()"><span class="fa fa-key"></span></button> --></td>
										</tr>
										<tr>
											<td><strong>Canonical Name</strong></td>
											<td><span ng-if="!editMode">{{device.meta.name}}</span>
											<input type="text" ng-if="editMode" ng-model="device.meta.name" />
											</td>
										</tr>
										<tr>
											<td><strong>Description</strong></td>
											<td><span ng-if="!editMode">{{device.meta.description}}</span>
											<input type="text" ng-if="editMode" ng-model="device.meta.description" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<table class="table table-onion">
									<tbody>
										<tr>
											<td><strong>Status</strong></td>
											<td>{{device.status}}</td>
										</tr>
										<tr>
											<td><a tooltip-placement="right" tooltip="URL to access the API"><strong>API Endpoint</strong></a></td>
											<td><a>http://api.onion.io/v1/devices/{{device.id}}</a></td>
										</tr>
										<tr>
											<td><strong>Device Type</strong></td>
											<td><span ng-if="!editMode">{{device.meta.deviceType}}</span>
											<div ng-if="editMode" class="select-wrapper">
												<select ng-model="device.meta.deviceType">
													<option value="private">Private</option>
													<option value="public">Public</option>
												</select>
											</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="!addMode">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="panel panel-dark">
					<div class="panel-heading">
						<h3 class="panel-title">Remote Procedures</h3>
					</div>
					<div class="panel-body">
						<table class="table table-onion table-striped">
							<thead>
								<tr>
									<th>Method</th>
									<th>End Point</th>
									<th>Test</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="device.procedures.length === 0">
									<td colspan="3">No precedure registered.</td>
								</tr>
								<tr ng-repeat="procedure in device.procedures">
									<td><div class="verb" ng-class="'verb-' + procedure.verb"></div></td>
									<td>http://api.onion.io/v1/devices/{{device.id}}{{procedure.path}}</td>

									<td>
										<button class="btn btn-blue btn-xs" ng-click="initTest(procedure)">Test</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-dark">
					<div class="panel-heading">
						<h3 class="panel-title">Remote States</h3>
					</div>
					<div class="panel-body">
						<table class="table table-onion table-striped">
							<thead>
								<tr>
									<th>End Point</th>
									<th>Value</th>
									<th>Time Stamp</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="device.states.length === 0">
									<td colspan="3">No state registered.</td>
								</tr>
								<tr ng-repeat="state in device.states">
									<td>{{state.path}}</td>
									<td>{{state.value}}</td>
									<td>{{state.timeStamp}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="panel panel-dark">
					<div class="panel-heading">
						<h3 class="panel-title">History</h3>
					</div>
					<div class="panel-body">
						<table class="table table-onion table-striped">
							<thead>
								<tr>
									<th>Action</th>
									<th>Time Stamp</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="his.length === 0">
									<td colspan="3">No activity history found.</td>
								</tr>
								<tr ng-repeat="history in his">
									<td>{{history.action}}</td>
									<td>{{history.timestamp}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-dark">
					<div class="panel-heading">
						<h3 class="panel-title">Trigger</h3>
					</div>
					<div class="panel-body">
						<table class="table table-onion table-striped">
							<thead>
								<tr>
									<th>Trigger</th>
									<th>Post Url</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="trigger.length === 0">
									<td colspan="3">No activity history found.</td>
								</tr>
								<tr ng-repeat="tri in trigger">
									<td>{{tri.action}}</td>
									<td>{{tri.postUrl}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="test-toolbar">
		<div class="panel panel-blue">
			<div class="panel-heading">
				<button type="button" class="close" ng-click="toggleTest()">×</button>
				<h3 class="panel-title">Testing Console</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="test-input col-lg-5 col-md-5 col-sm-5 col-xs-5">	
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									<input type="text" class="form-control" placeholder="API Endpoint" value="{{(!currentProcedure.path) ? '' : 'https://api.onion.io/' + currentProcedure.apiVersion + '/devices/' + currentProcedure.deviceId + currentProcedure.path}}" />
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<button type="submit" class="btn btn-default btn-block" ng-click="test.doTest('https://api.onion.io/' + currentProcedure.apiVersion + '/devices/' + currentProcedure.deviceId + currentProcedure.path, currentProcedure.data)">Go!</button>
								</div>
							</div>
							<div class="form-group" ng-repeat="param in currentProcedure.postParams">
								<label for="{{'param' + $index}}" class="col-sm-2 control-label">{{param}}</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="{{'param' + $index}}" ng-model="currentProcedure.data[param]" />
								</div>
							</div>
						</form>
					</div>
					<div class="test-log col-lg-7 col-md-7 col-sm-7 col-xs-7">
						<div class="log" ng-repeat="log in test.logs">
							<div class="timestamp">{{log.timestamp}}</div>
							<code>{{log.data}}</code>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>