<div class="navbar navbar-onion">
	<ul class="nav navbar-nav nav-onion">
		<li><a ng-click="changeDoc('intro')"><span class="fa fa-info-circle"></span>Introduction</a></li>
    	<li><a ng-click="changeDoc('setup')"><span class="fa fa-gears"></span>Device Setup</a></li>
    	<li><a ng-click="changeDoc('lamp')"><span class="fa fa-lightbulb-o"></span>Smart Lamp</a></li>
    	<li><a ng-click="changeDoc('printer')"><span class="fa fa-print"></span>Smart Printer</a></li>
    </ul>
    <ul class="nav navbar-nav nav-onion pull-right">
		<li><a ng-click="changeDoc('api')"><span class="fa fa-book"></span>API Documentation</a></li>
    </ul>
</div>

<div class="wrapper">
	<h4><span class="fa fa-book"></span>Documentations</h4>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="markdown" ng-bind-html="docText | gfm"></div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="docs.intro">
### Introduction

The Onion Platform makes it extremely easy to integrate your Arduino Yún based devices with the Web. The platform maps each hardware device to the cloud as a REST API, which can then be accessed from anywhere in the world.

We will be showing two examples in this documentation, each illustrating how to use the Onion Arduino Yún Client Library to integrate your devices to the web and to create web/mobile apps that can then interact with these devices. 
</script>

<script type="text/ng-template" id="docs.setup">
### Setup the device
</script>

<script type="text/ng-template" id="docs.lamp">
### Building a "Smart Lamp"
</script>

<script type="text/ng-template" id="docs.printer">
### Building a "Smart Printer"
</script>

<script type="text/ng-template" id="docs.api">
### API Documentation
</script>