<div class="navbar navbar-onion">
	<button class="btn btn-onion"><span class="fa fa-check"></span>Select</button>
	<button class="btn btn-onion"><span class="fa fa-plus"></span>Add</button>
	<button class="btn btn-onion"><span class="fa fa-minus"></span>Remove</button>

	<form role="search" class="navbar-form form-horizontal navbar-right">
		<div class="form-group">
			<label for="email" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 control-label"><span class="fa fa-search"></span></label>
			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<input type="text" class="form-control" id="search" placeholder="Search Devices">
			</div>
		</div>
	</form>
</div>

<div>
	
</div>