<div class="navbar navbar-onion">
	<ul class="nav navbar-nav nav-onion">
    	<li><a href="#"><span class="fa fa-exclamation-circle"></span>Notifications<span class="badge pull-right badge-red">42</span></a></li>
    </ul>
</div>

<div class="wrapper">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div class="panel panel-green panel-device">
				<div class="panel-body">
					<h1>5</h1>
					<p>Devices</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div class="panel panel-blue panel-users">
				<div class="panel-body">
					<h1>5</h1>
					<p>Users</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div class="panel panel-purple panel-api">
				<div class="panel-body">
					<h1>247</h1>
					<p>API Calls</p>
				</div>
			</div>
		</div>
	</div>
</div>