<div class="navbar navbar-onion">
	<ul class="nav navbar-nav nav-onion">
    	<li><a ui-sref="cp.devices.list"><span class="fa fa-arrow-left"></span>Back</a></li>
    	<li><a ng-click="toggleEdit()"><span class="fa" ng-class="{'fa-check': editMode, 'fa-pencil': !editMode}"></span>{{editMode ? 'Save' : 'Edit'}}</a></li>
    	<li ng-if="!addMode"><a ng-click="deleteDevice()"><span class="fa fa-minus"></span>Delete</a></li>
    	<li ng-if="!addMode"><a ng-click="renewKey()"><span class="fa fa-key"></span>Renew Secret Key</a></li>
    </ul>
</div>

<div class="wrapper">
	<h4 ng-if="!addMode">{{device.meta.name}}</h4>
	<h4 ng-if="addMode">Add New Device</h4>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-dark" id="summary">
				<div class="panel-heading">
					<h4 class="panel-title">Device Information</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<table class="table table-onion">
								<tbody>
									<tr>
										<td><a tooltip-placement="right" tooltip="Unique identifier"><strong>Device ID</strong></a></td>
										<td>{{device._id}}</td>
									</tr>
									<tr>
										<td><a tooltip-placement="right" tooltip="Secret key for authentication"><strong>Device Key</strong></a></td>
										<td>
											{{device.key}}
											<button ng-if="editMode && !addMode" class="btn btn-onion pull-right" ng-click="renewKey()"><span class="fa fa-key"></span></button>
										</td>
									</tr>
									<tr>
										<td><strong>Canonical Name</strong></td>
										<td>
											<span ng-if="!editMode">{{device.meta.name}}</span>
											<input type="text" ng-if="editMode" ng-model="device.meta.name" />
										</td>
									</tr>
									<tr>
										<td><strong>Description</strong></td>
										<td>
											<span ng-if="!editMode">{{device.meta.description}}</span>
											<input type="text" ng-if="editMode" ng-model="device.meta.description" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<table class="table table-onion">
								<tbody>
									<tr>
										<td><strong>Status</strong></td>
										<td>{{device.status}}</td>
									</tr>
									<tr>
										<td><a tooltip-placement="right" tooltip="URL to access the API"><strong>API Endpoint</strong></a></td>
										<td><a href="http://dev.onion.io/api/{{currentDevice.id}}">http://dev.onion.io/api/device001</a></td>
									</tr>
									<tr>
										<td><strong>Device Type</strong></td>
										<td>
											<span ng-if="!editMode">{{device.meta.deviceType}}</span>
											<div ng-if="editMode" class="select-wrapper">
												<select ng-model="device.meta.deviceType">
													<option value="private">Private</option>
													<option value="public">Public</option>
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="!addMode">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="panel panel-purple">
				<div class="panel-heading">
					<h3 class="panel-title">Remote Procedures</h3>
				</div>
				<div class="panel-body">
					<table class="table table-onion table-striped">
						<thead>
							<tr>
								<th>Method</th>
								<th>End Point</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="procedure in device.procedures">
								<td>
									<span class="verb" ng-class="procedure.verb">{{procedure.verb}}</span>
								</td>
								<td>
									{{procedure.path}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-purple">
				<div class="panel-heading">
					<h3 class="panel-title">Remote States</h3>
				</div>
				<div class="panel-body">
					<table class="table table-onion table-striped">
						<thead>
							<tr>
								<th>End Point</th>
								<th>Value</th>
								<th>Time Stamp</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="state in device.states">
								<td>{{state.path}}</td>
								<td>{{state.value}}</td>
								<td>{{state.timeStamp}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="panel panel-purple">
				<div class="panel-heading">
					<h3 class="panel-title">History</h3>
				</div>
				<div class="panel-body">
					<table class="table table-onion table-striped">
						<thead>
							<tr>
								<th>Action</th>
								<th>End Point</th>
								<th>Time Stamp</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>