<div class="container cp-container">
	<div id="sidebar" ng-controller="NavCtrl as nav">
		<div class="navbar navbar-onion">
			<a class="navbar-brand" href="#"><span class="icon-onion"></span>&nbsp;Onion<sup><sup>CP</sup></sup></a>
			<form class="form navbar-form navbar-right">
				<button class="btn btn-onion"><span class="fa fa-bars"></span></button>
			</form>
		</div>

		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="item in nav.tabItems" ng-class="{active: nav.isActive(item.sref)}">
				<a ui-sref="{{item.sref}}"><span ng-if="item.icon!==''" class="fa fa-{{item.icon}}"></span>{{item.title}}</a>
			</li>
		</ul>

		<ul class="nav nav-pills nav-stacked nav-logout">
			<li ng-class="{active: nav.isActive('cp.profile')}">
				<a ui-sref="cp.profile">
					{{nav.userProfile.email}}
					<button class="btn pull-right"><span class="fa fa-sign-out"></span></button>
				</a>
			</li>
		</ul>
	</div>

	<div id="content" ui-view></div>
</div>