<div class="container cp-container">
	<div id="sidebar">
		<div class="navbar navbar-onion">
			<a class="navbar-brand" href="#"><span class="icon-onion"></span>&nbsp;Onion<sup><sup>CP</sup></sup></a>
		</div>

		<ul class="nav nav-pills nav-stacked">
			<li ng-class="{active: isActive('cp.devices')}">
				<a ui-sref="cp.devices.list"><span class="fa fa-puzzle-piece"></span>Devices</a>
			</li>
			<li ng-class="{active: isActive('cp.tutorials')}">
				<a ui-sref="cp.tutorials"><span class="fa fa-book"></span>Tutorials</a>
			</li>
			<li ng-class="{active: isActive('cp.support')}">
				<a ui-sref="cp.support"><span class="fa fa-question-circle"></span>Support</a>
			</li>
			<li ng-class="{active: isActive('cp.profile')}">
				<a ui-sref="cp.profile"><span class="fa fa-user"></span>User Profile
					<button class="btn pull-right" ng-click="logout($event);"><span class="fa fa-power-off"></span></button>
				   
				</a>
				
			</li>
		</ul>
	</div>

	<div id="main" ui-view></div>
</div>