<div class="navbar navbar-onion">
	<ul class="nav navbar-nav nav-onion">
		<li><a ng-click="changeDoc('intro')"><span class="fa fa-info-circle"></span>Introduction</a></li>
    	<li><a ng-click="changeDoc('led')"><span class="fa fa-lightbulb-o"></span>Smart LED</a></li>
    	<li><a ng-click="changeDoc('printer')"><span class="fa fa-print"></span>Smart Printer</a></li>
    </ul>
    <ul class="nav navbar-nav nav-onion pull-right">
		<li><a ng-click="changeDoc('api')"><span class="fa fa-book"></span>API Documentation</a></li>
    </ul>
</div>

<div class="wrapper">
	<h4><span class="fa fa-book"></span>Tutorials</h4>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="markdown" ng-bind-html="docText | gfm"></div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="tutorials.intro">
## Introduction

The Onion Platform makes it extremely easy to integrate your Arduino Yún based devices with the Web. The platform maps each hardware device to the cloud as a set of REST APIs, which can then be accessed from anywhere in the world. We will be building two "smart" devices in this tutorial, each illustrating how to use the Onion Arduino Yún Client Library to integrate your devices to the web and to use the URLs created to integrate with the devices. 

### How Does Onion Work?

![](./img/intro1.png)

Onion works by mapping physical devices to the web as URLs. Once the device connects to the cloud, developers can write local functions and register them as REST API endpoints. Then, it becomes possible to interact with the devices by performing GET or POST requests on the API endpoints. Allowing developers to write local functions natively means that it is super easy to get started. In total, there are only about 5 lines of code a developer has to learn to get started.

### 1. Device setup

For our tutorials, we will be using the Arduino Yún. To get started, make sure you have connected the Arduino Yún to the Internet either using Ethernet or WiFi. For more information, please check out [this tutorial](http://arduino.cc/en/Guide/ArduinoYun#toc13).

### 2. Registering device on the Onion Cloud

Once the Arduino Yún has been connected to the Internet, we need to have a way to uniquely address it. To do this, we need to  On the Onion Platform, each device is treated as an URL identified by an unique device ID. 

To create the unique device ID for your device, go to __Devices__, and click on __New__:

>![](./img/intro2.png)

Enter optional informations to describe your device and click on __Save__:

>![](./img/intro3.png)

Once the information has been saved, the new device will be assigned an unique ID and a randomly generated key. Think of them as the username and password for your Arduino Yún log into the Onion Cloud. Take note of where you can find these information, we will be needing them very soon.

>![](./img/intro4.png)

### 3. Installing the Onion Client Library

Please make sure you have installed the latest version of the Arduino IDE (You will need at least version 1.5.0, which supports Arduino Yún). You can download the Arduino IDE from [here](http://arduino.cc/en/main/software#.Uv6SgUJdXDQ).

Once you have installed the Arduino IDE, you need to download either the [OnionYunClient Library](./files/OnionYunClient.zip) (for Arduino Yún) or the [OnionClient Library](./files/OnionClient.zip) (for Arduino + Ethernet Shield) and install it by navigating to __Sketch__ > __Import Library...__ > __Add Library...__. 

>![](./img/intro5.png)

You will be prompted to select the library you would like to add. Navigate to the .zip file and open it.

__NB__ : the library will be available to use in sketches, but examples for the library will not be exposed in the File > Examples until after the IDE has restarted.


### 4. Connecting to the Onion Cloud

Connecting your Arduino Yún to the Onion Cloud is as easy as copying and pasting the __Device ID__ and __Device Key__ assigned to you in _Step 1_ in your sketch to log into the platform.

```
#include <Bridge.h>
#include <YunClient.h> 
#include <OnionYunClient.h>

// Connecting the device to the Onion Cloud with specific Device ID and Device Key
OnionYunClient client("DpOExgL6", "NfoTRREprRKPfuf8"); 

void setup() {
	Bridge.begin();
	client.begin();
}

void loop() {
	client.loop();
}
```

Compile and Load into your Arduino Yún. You should see a new entry in the __History__ table of the device. "Power on" means that the Arduino Yún has successfully logged into the Onion Cloud.

>![](./img/intro6.png)

Congratulations! You have just connected your Arduino Yún to the Onion Cloud!

</script>

<script type="text/ng-template" id="tutorials.led">
## Building a Connected LED

For our first example that actually does something, we will make an LED (pin 13) on the Arduino Yún controllable remotely. This example will demonstration the basics of developing on the Onion Platform, where the developer write functions as they normally would locally and map these local functions to the web as specific REST API endpoints.

### Requirements

The only thing you will need for this example is an Arduino Yún (or an Arduino with an Ethernet Shield);

>![](./img/led1.png)

### 1. Registering device on the Onion Cloud

Following __Step 2 - 4__ from the Introduction, create a new device in the control panel, and use the __Device ID__ & __Device Key__ to log the Arduino Yún into the Onion Cloud:

 ```
#include <Bridge.h>
#include <YunClient.h> 
#include <OnionYunClient.h>

// Connecting the device to the Onion Cloud with specific Device ID and Device Key
OnionYunClient client("DpOExgL6", "NfoTRREprRKPfuf8"); 

void setup() {
	Bridge.begin();
	client.begin();
}

void loop() {
	client.loop();
}
```

### 2. Writing local functions

To create remote controllable LED we need to first write the local functions that do what you need the Arduino Yún to do, in this case it is to turn on or turn off the LED at pin 13.

Copying and pasting a few lines of code from the _Blink_ example:

```
#include <Bridge.h>
#include <YunClient.h> 
#include <OnionYunClient.h>

// Connecting the device to the Onion Cloud with specific Device ID and Device Key
OnionYunClient client("DpOExgL6", "NfoTRREprRKPfuf8");
int led = 13;

// turn the LED on (HIGH is the voltage level)
void ledOn(OnionParams* params) {
	digitalWrite(led, HIGH);
}

// turn the LED off by making the voltage LOW
void ledOff(OnionParams* params) {
	digitalWrite(led, LOW);
}

void setup() {
	// initialize the digital pin as an output.
	pinMode(led, OUTPUT);
	Bridge.begin();
	client.begin();
}

void loop() {
	client.loop();
}
```

The only thing to take note here is the ```OnionParams* params``` that are passed into the functions as a parameter. We will come back to it in the next tutorial. For now just remember that all the local functions needs to include ```OnionParams``` as a parameter if they are to be registered as an endpoint later.

At this point the sketch doesn't do anything because we haven't written any code to trigger either function yet.

### 3. Registering local functions as remote endpoints

In order to actually make those two functions do something, we need to register them with the the Onion Platform so that they can be triggered when actions are performed on the endpoints. In this case, we will be registering the ```ledOn()``` function with the ```GET /on``` endpoint, and ```ledOff()``` with the ```GET /off``` endpoint. The way we do this is using the ```client.get()``` method.

```
#include <Bridge.h>
#include <YunClient.h> 
#include <OnionYunClient.h>

// Connecting the device to the Onion Cloud with specific Device ID and Device Key
OnionYunClient client("DpOExgL6", "NfoTRREprRKPfuf8");
int led = 13;

// turn the LED on (HIGH is the voltage level)
void ledOn(OnionParams* params) {
	digitalWrite(led, HIGH);
}

// turn the LED off by making the voltage LOW
void ledOff(OnionParams* params) {
	digitalWrite(led, LOW);
}

void setup() {
	// initialize the digital pin as an output.
	pinMode(led, OUTPUT);
	Bridge.begin();
	client.begin();

	// register ledOn and ledOff as GET endpoints
	client.get("/on", ledOn);
	client.get("/off", ledOff);
}

void loop() {
	client.loop();
}
```

That's it! You have just registered two local functions as remote endpoints! Now, whenever you do a GET request on the /on endpoint it will turn on the LED at pin 13, and whenever you do a GET on the /off endpoint it will turn off the LED. Compile the code and try it out!

For more information regarding registering POST endpoints, please visit the API Documentation.
</script>

<script type="text/ng-template" id="tutorials.printer">
## Building a Connected Thermal Printer

Our second example is building a thermal printer that is connected to the Web. As opposed to using GET endpoints to interact with the printer, we will register local functions as POST endpoints. This allows us to pass data into the functions as the post body. As with before, local functions are written as you would normally, except don't forget to include ```OnionParams* params``` as the parameter of the functions you would like to map into REST endpoints.

### Requirements
You will need an Arduino Yún (or an Arduino with an Ethernet Shield) and a Mini Thermal Receipt Printer that can be found at [Adafruit](http://www.adafruit.com/products/597). Note that the thermal printer also requires an external power source. View [this tutorial](http://learn.adafruit.com/mini-thermal-receipt-printer/) for more information. In addition, you must also download and install a library to interact with the thermal printer, which can be found on [Github](https://github.com/lazyatom/Thermal-Printer-Library).

>![](./img/printer1.png)
 
>![](./img/printer2.png)

### 1. Wire up the electronic components

The first step is to connect the thermal printer to the Arduino. 

There are three wires coming out of the TTL serial connector at the bottom of the printer, one for ground, one for Rx and one for Tx. An easy way to connect is to simply press 22AWG or so wires into the plug, then use those to extend the connection to an Arduino.

>![](./img/printer3.png)

Next, connect the data wires to the Arduino Yún. Connect the GND wire (black) to GND pin, then connect the Rx (yellow) and Tx (green) wires to digital pins 5 and 6, respectively.

>![](./img/printer4.png)

### 2. Writing local functions

As with the connected LED example, we would write the function to print on the thermal printer as local functions. However, because in this case we will be passing data into the function, we will need to parse the data before using them. All the data passed into the function will be in an ```OnionParams``` array called ```params```. In this case, there will only be one parameter for the function, so the length of ```params``` is 1. The thermal printer takes a char array as input, so we need to parse the parameter as a char array. 

```
#include <Bridge.h>
#include <YunClient.h> 
#include <OnionYunClient.h>
#include <SoftwareSerial.h>
#include <Thermal.h>

int printer_RX_Pin = 5;
int printer_TX_Pin = 6;

Thermal printer(printer_RX_Pin, printer_TX_Pin, 19200);

OnionYunClient client("DpOExgL6", "NfoTRREprRKPfuf8"); 

void printMsg(OnionParams* params) {
  // Convert the first element of the params array into a character array
  char* msg = params->getChar(0);

  // Print the message
  printer.print(msg);

  // Print 3 blank lines
  printer.print("\r\n\r\n\r\n");
}

void setup() {
  Bridge.begin();
  client.begin();  
}

void loop() {
  client.loop();
}
```

### 3. Registering local functions as remote endpoints

Just like the LED example, at this point the function we registered doesn't do anything yet. We need to register them on the Onion Cloud, which allows it to be triggered remotely. In addition, since we will be passing data into the function, we will need to register the ```printMsg()``` function as a POST endpoint. To do that, we will be using the ```client.post()``` method.

```
#include <Bridge.h>
#include <YunClient.h> 
#include <OnionYunClient.h>
#include <SoftwareSerial.h>
#include <Thermal.h>

Thermal printer(printer_RX_Pin, printer_TX_Pin, 19200);

OnionYunClient client("DpOExgL6", "NfoTRREprRKPfuf8"); 

void printMsg(OnionParams* params) {
  // Convert the first element of the params array into a character array
  char* msg = params->getChar(0);

  // Print the message
  printer.print(msg);

  // Print 3 blank lines
  printer.print("\r\n\r\n\r\n");
}

void setup() {
  Bridge.begin();
  client.begin();

  // Register the printMsg function as a POST /print endpoint
  client.post("/print", printMsg, "msg");  
}

void loop() {
  client.loop();
}
```

The ```client.post()``` method takes three parameters, first is a char array that defines the name of the endpoint, the second is the function that will be mapped to that endpoint, the third is a char array defining the order of the parameters. The char array specifies, in order, the names of elements within the POST body that will be passed into the function. For example, if we are registering a ```POST /do``` endpoint and pass "firstArg,secondArg" as the third parameter. When doing the POST request, we can pass in the following JSON structure:

```
{
	firstArg: "String arg",
	secondArg: 123
}
```

In this case, firstArg will become the first argument to the local function, and secondArg will become the second argument to the local function. However, before you can use these arguments in the local functions, they need to be converted back into C/C++ types using the ```params->getChar(0)``` and ```params->getInt(1)``` statements, for the first and second parameters, respectively.

That's it! You have just registered a local function as remote POST endpoints! You can use jQuery to ask the printer to print something:

```
$.post('http://api.onion.io/v1/devices/deviceId/print', {
	msg: 'Print me!'
}, function () {
	console.log('done');
});
```

The above request would print ```Print me!``` on the printer.

For more information regarding registering POST endpoints, please visit the API Documentation.
</script>

<script type="text/ng-template" id="tutorials.api">
## API Documentation

---
---

### OnionClient / OnionYunClient

OnionClient and OnionYunClient are client objects that allow the Arduino devices to communicate with the Onion Cloud. OnionClient is used for Arduino + Ethernet Shield while OnionYunClient is designed for Arduino Yún.

---

### ```OnionYunClient(char*, char*)``` / ```OnionClient(char*, char*)```

#### Description

Constructor for the OnionClient, creates an instance of the OnionClient from Device ID and Device Key.

#### Example Usage

```
OnionClient client("deviceID", "deviceKey");
```

#### Parameters

|Param|Type|Description|
|-|-|
|Device ID|```char array```|Device ID to uniquely identify the device.|
|Device Key|```char array```|Device Key to authenticate the device.|

---

### ```void begin()```

#### Description

Connects the OnionClient instance to the Onion Cloud. This function is run inside ```setup()```.

#### Example Usage

```
setup () {
	client.begin();
}
```

---

### ```void get(char*, remoteFunction)```

#### Description

Registers a local function as a GET endpoint.

#### Example Usage

```
client.get("/endpoint", localFunction);
```

#### Parameters

|Param|Type|Description|
|-|-|
|Endpoint|```char array```|A string that starts with "/" that is used to invoke the local function.|
|Local Function|```remoteFunction```|A remoteFunction is a local void function that takes ```OnionParams*``` as the parameter|

---

### ```void post(char*, remoteFunction, char*)```

#### Description

Registers a local function as a POST endpoint.

#### Example Usage

##### To register a function

```
client.post("/endpoint", localFunction, "firstArg,secondArg,thirdArg");
```

##### To invoke a function

```
$.post('http://api.onion.io/v1/devices/deviceId/endpoint', {
	"firstArg": 123,
	"secondArg": "This is a string",
	"thirdArg": true
});
```

#### Parameters

|Param|Type|Description|
|-|-|
|Endpoint|```char array```|A string that starts with "/" that is used to invoke the local function.|
|Local Function|```remoteFunction```|A remoteFunction is a local void function that takes ```OnionParams*``` as the parameter|
|Parameters List|```char array```|A comma separated list of strings that are used to map elements of a POST body to corresponding parameters in the function.|

---

### ```void update(char*, float)```

#### Description

Registers a local variable to a GET endpoint.

#### Example Usage

```
client.update("/temp", 90.5);
```

#### Parameters

|Param|Type|Description|
|-|-|
|Endpoint|```char array```|A string that starts with "/" that is used to invoke the local function.|
|Value|```float```|A floating point number to be stored on the cloud.|

---

### ```boolean loop()```

#### Description

Executed in ```loop()``` to keep the device in sync with the Onion Cloud.

#### Example Usage

```
loop() {
	client.loop();
}
```

---
---

### OnionParams

OnionParams is a wrapper class for parameters that are passed into the local functions through POST requests. Methods within the OnionParams class makes it possible to convert data passed in through POST body to native variable types that can be used by C/C++.

---

### ```int getInt(unsigned int)```

#### Description

Converts parameter at a particular location into an integer.

#### Example Usage

```
// Get the value of the first parameter
int intValue = params.getInt(0);
```

#### Parameters

|Param|Type|Description|
|-|-|
|Parameter Location|```unsigned int```|To identify the specific parameter that will be converted into int.|

---

### ```float getFloat(unsigned int)```

#### Description

Converts parameter at a particular location into a float.

#### Example Usage

```
// Get the value of the second parameter
float floatValue = params.getFloat(1);
```

#### Parameters

|Param|Type|Description|
|-|-|
|Parameter Location|```unsigned int```|To identify the specific parameter that will be converted into float.|

---

### ```bool getBool(unsigned int)```

#### Description

Converts parameter at a particular location into an boolean.

#### Example Usage

```
// Get the value of the third parameter
bool boolValue = params.getBool(2);
```

#### Parameters

|Param|Type|Description|
|-|-|
|Parameter Location|```unsigned int```|To identify the specific parameter that will be converted into bool.|

---

### ```char* getChar(unsigned int)```

#### Description

Converts parameter at a particular location into a char array.

#### Example Usage

```
// Get the value of the fourth parameter
char* charArray = params.getInt(3);
```

#### Parameters

|Param|Type|Description|
|-|-|
|Parameter Location|```unsigned int```|To identify the specific parameter that will be converted into char array.|

---

### ```char* getRaw()```

#### Description

Get the raw char array which the OnionParams constructor used to instantiate the object.

#### Example Usage

```
char* rawData = params.getRaw();
```

</script>