<div class="container login-container">
	<div class="login-header">
		<div class="onion-jumbotron">
			<h1 class=""><span class="icon-onion"></span>&nbsp;Onion</h1>
			<p>Please login to access the Control Panel.</p>
		</div>
	</div>
	<div class="login-chevron"></div>
	<div class="login-body">
		<form role="form" class="login-form form-horizontal">
			<div ng-if="loginFailed" class="alert alert-danger">
				Login failed, please try again!
			</div>
			<div ng-if="signupFailed" class="alert alert-danger">
				The email already exists, please try again!
			</div>
			<div ng-if="pwResetSent" class="alert alert-success">
				Please check your email to reset password.
			</div>
			<div class="form-group" id="email-group">
				<input type="email" id="email" class="form-control" placeholder="Email Address" ng-model="email" />
			</div>
			<div class="form-group" id="password-group">
				<input type="password" id="password" class="form-control" placeholder="Password" ng-model="password" ng-disabled="mode === 'forgot'" />
			</div>
			<div class="form-group">
				<button ng-if="mode === 'login'" type="submit" class="btn btn-default btn-block" ng-click='login()'>
					Login<span class="fa fa-sign-in pull-right"></span>
				</button>
				<button ng-if="mode === 'signup'" type="submit" class="btn btn-blue btn-block" ng-click='signUp()'>
					Sign Up<span class="fa fa-user pull-right"></span>
				</button>
				<button ng-if="mode === 'forgot'" type="submit" class="btn btn-green btn-block" ng-click='forgotPassword()'>
					Send Password Reset Email<span class="fa fa-lock pull-right"></span>
				</button>
			</div>
		</form>
		<ul id="login-switch">
			<li ng-if="mode !== 'login'"><a href="#" ng-click="switchMode('login', $event)">Login</a></li>
			<li ng-if="mode !== 'signup'"><a href="#" ng-click="switchMode('signup', $event)">Sign Up</a></li>
			<li ng-if="mode !== 'forgot'"><a href="#" ng-click="switchMode('forgot', $event)">Forgot Password?</a></li>
		</ul>
		<p>&copy; 2014 Onion Corporation</p>
	</div>
</div>