<button class="btn btn-primary" ng-click="signup()">SIGNUP</button>
<button class="btn btn-primary" ng-click="login()">LOGIN</button>
<button class="btn btn-primary" ng-click="logout()">LOGOUT</button><br />
<button class="btn btn-primary" ng-click="check_session()">CHECK_SESSION</button>
<button class="btn btn-primary" ng-click="forgor_password()">FORGOT_PASSWORD</button>
<button class="btn btn-primary" ng-click="get_device_list()">GET_DEVICE_LIST</button><br />
<button class="btn btn-primary" ng-click="get_device()">GET_DEVICE</button>
<button class="btn btn-primary" ng-click="add_device()">ADD_DEVICE</button>
<button class="btn btn-primary" ng-click="update_device()">DB_UPDATE_DEVICE</button><br />
<button class="btn btn-primary" ng-click="remove_device()">REMOVE_DEVICE</button>
<input ng-model='deviceId' placeholder="device id" />
<button class="btn btn-primary" ng-click="add_procedures()">ADD_PROCEDURES</button><br />
<button class="btn btn-primary" ng-click="add_states()">ADD_STATES</button>

<button class="btn btn-primary" ng-click="new_key()">New_key</button>
