<button class="btn btn-primary" ng-click="signup()">SIGNUP</button>
<button class="btn btn-primary" ng-click="login()">LOGIN</button>
<button class="btn btn-primary" ng-click="logout()">LOGOUT</button>
<button class="btn btn-primary" ng-click="check_session()">CHECK_SESSION</button>
<button class="btn btn-primary" ng-click="forgor_password()">FORGOT_PASSWORD</button>
<button class="btn btn-primary" ng-click="get_device()">GET_DEVICE</button>
<button class="btn btn-primary" ng-click="add_device()">ADD_DEVICE</button>
<button class="btn btn-primary" ng-click="remove_device()">REMOVE_DEVICE</button>
