@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");
@import url("./onion.css");

body {
	margin: 0;
	padding: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 50px;
	color: #50545A;
}

.m-header {
	z-index: 1;
	height: 50px;
	background: #fff;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.m-wrap {
	margin: 0;
	padding: 0;
	max-width: none;
}

.m-table {
	display: block!important;
}

.m-navi {
	height: 100%;
	float: left;
	display: block;
	width: auto;
}

.m-navi a {
	vertical-align: none;
	font-size: 14px;
	text-align: center;
	color: rgba(0,0,0,0.6);
	cursor: pointer;
	height: 100%;
	line-height: 20px;

	display: block;
	float: left;
	padding: 15px;
}
	.m-navi a:before {
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-right: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #50545A;
	}
	.m-navi a:hover {
		box-shadow: none;
	}
	.m-nav-feed:before {
		content: "\f075";
	}
	.m-nav-all:before {
		content: "\f086";
	}

.m-subnavi {
	display: block;
	vertical-align: none;
	float: right;
	text-align: right;
}
	.m-subnavi > * {
		text-align: right;
		margin: 10px 15px
	}

#m-search {
	width: 200px;
}
	#m-search input {
		border-radius: 0;
		border: 0;
	}
	#m-search input:focus {
		box-shadow: none;
	}
	#m-search:before {
		content: "\f002";
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-right: 5px;
		font-size: 14px;
		line-height: 30px;
		color: #50545A;
	}

.m-nav-account {
	width: auto;
}

.m-tooltip, .m-account, .m-error {
	border-radius: 0;
}
	.m-down {
		margin: 0 5px;
		color: #50545A;
	}
	.m-tooltip:after {
		text-shadow: none;
	}

.m-select .m-hovered, .m-select .m-selected {
	border-radius: 0;
}
	.m-select .m-hovered {
		background: rgba(255, 255, 255, 0.25);
	}
	.m-select .m-selected {
		background: #736086;
	}

.m-meta {
	color: #50545A;
}

.m-links a {
	border-radius: 0;
}
	.m-links a.m-selected {
		background: #736086;
	}
	.m-sidebar .m-add-cat, .m-sidebar .m-cancel, .m-sidebar .m-edit-cats {
		color: #736086;
	}

.m-overlay, .m-help, .m-options {
	border-radius: 0!important;
	box-shadow: none!important;
	background-color: #1b1e24!important;
	color: #fff!important!;
}
	.m-options * {
		color: #fff;
	}
	.m-select strong {
		border: none;
	}
	.m-close:hover {
		text-decoration: none!important;
	}
	.m-overlay:after, .m-help:after {
		color: #1b1e24;
		text-shadow: none;
	}
	.m-help-format span, .m-help-format span, .m-help-bolded, .m-help-code div, .m-help-post {
		color: #fff;
	}
	.m-help-post em {
		border-radius: 0;
	}
	.m-help-monospaced span {
		background: transparent;
	}
	.m-help-code {
		color: #fff;
		border: none;
		padding: 0;
		margin-bottom: 10px 0;
	}

	.m-post-upload em {
		color: inherit;
	}
		.m-post-upload:hover em {
			color: inherit;
		}

.m-account .m-h2 {
	color: #fff;
}
.m-account .m-status em {
	color: inherit;
}
.m-account .m-invisible span {
	color: #aaa;
}

.m-forums-wrap {
	margin: 0;
}

.m-subs {
	display: none;
}

.m-facelink {
	margin: 0 10px 0 0 !important;
}
.is-forum .m-facelink:hover .m-face {
	box-shadow: none;
}

.m-pagetitle div {
	font-size: 18px;
	color: #50545A;
	font-weight: bold;
}
	.m-pagetitle div:before {
		color: #50545A;
		margin-right: 5px;
	}

.m-sso .m-replyform {
	margin-bottom: 0;
}

.m-replyform .m-postinput, .moot-hover .m-postinput, .m-focused .m-postinput {
	border-radius: 0;
	border: none;
	box-shadow: none;
	background: #ecf0f2;
	opacity: 1;
}

.m-expanded .m-seed .m-body-wrap, .m-expanded .m-reply {
	border-left: 3px solid #736086;
}

.m-reply_count:before, .m-icon {
	color: #505458;
}

.m-meta .m-admin {
	background: #1fadc5;
}

.m-page {
	width: calc(100% - 265px);
	padding: 0;
	margin: 15px 15px 0 0;
}

.m-preview {
	border-radius: 0;
	box-shadow: none;
	background: #ecf0f2;
}

.m-meta .m-admin {
	border-radius: 0;
}

.moot button, .m-button {
	background: #736086;
	border-radius: 0;
}

.m-moot {
	background: #fff;
	padding: 15px;
}

.m-page a {
	color: #736086;
}
	.m-page a:focus,
	.m-page a:active,
	.m-page a:hover {
		color: #7761a7;
		cursor: pointer;
	}

.m-focused .m-input-wrap {
	box-shadow: none;
}
.m-input-wrap {
	background: #fff;
	border-radius: 0;
	border: none;
	box-shadow: none;
	padding: 15px;
}
.m-focused .m-input-title {
	margin-bottom: 10px;
	border: none;
}

.m-face {
	border-radius: 0;
}

.m-sidebar {
	background: #fff;
	border: none;
	width: 250px;
	padding: 15px;
	margin-top: 15px;
}
	.m-sidebar .m-h3:before {
		margin-right: 10px;
	}

#rnd211 {
	visibility: hidden;
	height: 0;
	width: 0;
	overflow: hidden;
}

.m-mask {
	background: transparent;
}

.m-mask .m-panel {
	box-shadow: none;
	border-radius: 0;
	border: 3px solid #736086;
}

.m-nav-designer {
	display: none!important;
}

#moot-designer {
	display: none;
}

.m-app-loading:before {
	font-family: 'onion';
	content:'\e600';
	color:rgba(0,0,0,0.2);
	margin-right:.3em;
	position:relative;
	top:.1em;
	left:0
}

.m-message {
	background-color: #736086;
	border-radius: 0;
}

a.m-back {
	margin-left: 0;
}

.m-mootpage .m-page {
	padding-top: 0;
}

.m-expanded .m-seed .m-body-wrap {
	margin-top: 10px;
}