<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width,user-scalable=no" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
		<link href="../css/onion-logo.css" rel="stylesheet" />
		<link href="../css/styles.css" rel="stylesheet" />
		<title>Onion Device Management</title>
	</head>
	<body>
		<header class="navbar navbar-onion navbar-fixed-top" role="navigation">
			<div class="sidebar">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span class="icon-onion-logo"></span>nion<sup><sup>DM</sup></sup></a>
				</div>
				<form class="form navbar-form navbar-right">
					<button class="btn btn-default"><span class="fa fa-bars"></span></button>
				</form>
			</div>
			<div class="main">

			</div>
		</header>
		<section class="container">
			<div class="sidebar">

			</div>
			<div class="main">

			</div>
		</section>
	</body>
</html>